<p>tasks-manager works!</p>
<div>
  <input #tacheInput type="text" (keyup.enter)="createTask(tacheInput.value)">
  <button (click)="createTask(tacheInput.value)">Ajouter Tâche</button>
</div>

<ul>
  <li *ngFor="let tache of tasks">
    @if (editingTaskId === tache._id) {
      <input [(ngModel)]="tache.title" type="text" (keyup.enter)="updateTask(tache)" />
      <button (click)="updateTask(tache)">Valider</button>
      <button (click)="cancelUpdateTask()">Annuler</button>
    }
    @else {
      <input [(ngModel)]="tache.completed" type="checkbox" (change)="updateTask(tache)"/>
    @if (tache.completed) {
      <s>{{ tache.title }}</s>}
    @else {
      {{ tache.title }}
    }
    <button (click)="editTask(tache)">Modifier</button>
    }
    <button (click)="removeTask(tache)">Supprimer</button>
  </li>
</ul>