<div class="flex items-center">
    <button class="focus:outline-none" (click)="toggleMenu()">

        <img class="h-8 w-8 rounded-full"
            src={{currentUser?.profileImageUrl}}
            alt="">
    </button>
    <div class="ml-2">{{currentUser?.username}}</div>

    <!-- Dropdown menu -->
    @if (isMenuOptionDisplayed) {
    <div class="absolute left-0 mt-2 w-48 bg-white rounded-lg shadow-xl z-50">
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
    </div>
    }

</div>