<p>task-list works!</p>

<ul>
    @for (task of tasks; track task._id) {
    <li>
      @if (editingTaskId === task._id) {
        <input [(ngModel)]="task.title" type="text" (keyup.enter)="updateTask(task)" />
        <button mat-raised-button (click)="updateTask(task)">Valider</button>
        <button mat-raised-button (click)="cancelUpdateTask()">Annuler</button>
      }
      @else {
        <mat-checkbox [(ngModel)]="task.completed" (change)="updateTask(task)"></mat-checkbox>
      @if (task.completed) {
        <s>{{ task.title }}</s>}
      @else {
        {{ task.title }}
      }
      <button mat-raised-button (click)="editTask(task)">Modifier</button>
      }
       <button mat-fab (click)="removeTask(task)">
          <mat-icon>delete</mat-icon>
        </button>
    

      <div class="example-button-container">
       
      </div>
     

    </li>
  
    }
  </ul>